
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
	--primary: #788585;
	--secondary: #9CAEA9;
	--tertiary: #607B7D;
  --light: #fafafa;
}
body {
  font-family: sans-serif;
  background-color: var(--primary);
  font-size: 16px;
  /* text-align: center; */
}


header {
  background: var(--tertiary);
  color: var(--light);
}

h2 {
  font-size: 2rem;
}

li {
  list-style: none;
  font-size: 1.5rem;
  color: var(--light);
  
}
nav li {
  cursor: pointer;
}

nav a:hover {
  text-decoration: none;
}

a {
  color: var(--light);
  text-decoration: none;
  
}


.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* .mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
} */

.center, .work{
  margin-left: 25%;
  margin-right: 25%;
  padding: 20px;
  margin-top: 5%;
  text-align: center;
}


.footer {
  margin-top: 40px;
  text-align: center;
  
}

.copyright {
  background: var(--tertiary);

}
.my-photo {
	clip-path: circle();
  width: 250px;
}

.logo {
	width: 50px;
	height: 50px;
	/* margin-bottom: 50px; */
	cursor: pointer;
}

.logo:hover {
	opacity: 0.5;
}

.copyright {
  margin-top: 10px;
  color: #0e0d0d;
}

.card {
  width: 400px;
  text-align: center;
  margin-bottom: 20px;
  margin-left: 20px;
  box-shadow: 0 0 5px 0 rgba(22, 22, 26, .25);
}
.card-footer {
  background: var(--tertiary);
}

.card-title {
  background: var(--tertiary);
  padding:5px;
  color: var(--light);
}

.download {
  background: green;
  padding: 10px;
}

.fas {
  padding: 10px;
}

/* .row {
  display: flex;
} */

/* .column {
  display: flex;
} */

